@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #101214;
  color: #7a7c80;
  ;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #323435;
}
.nav li {
  float: left;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
  display: block;
  padding: 14px 16px;
  color: #ff3505;
}
.nav li a:visited{
    color: green;
}
.nav li a:active{
    color: yellow;
}



.section-1 {
  color: #fff;
  padding-top: 10vh;
  text-align: center;
}
.section-1 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-1 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-1 a {
  font-size: 1.5rem;
  padding: 10px;
}

.section-1-1 {
    border-color: #ff3505;
    border-style: solid;
    border-radius: 14px;
    margin-left: 70px;
    margin-right: 400px;
    font-size: 14pt;
    line-height: 24pt;
    word-break: keep-all;
    padding: 20px;
    text-align: justify;
}
.section-1-1 h2 {
  text-align: center;
}
.section-1-1 h3 {
  text-align: center;
}
.section-1-1 img {
  float: right;
  width: 300px;
  height: 300px;
  padding: 10px;
}
.section-1-1-read-more a{
  font-size: 18px;
  color: blue;
  padding: 10;
  text-decoration: none;
  text-emphasis: bold;
}
.section-1-1-read-more a:hover{
  font-size: 18px;
  color: #ff3505;
  padding: 10;
  text-decoration: underline;
  text-emphasis: bold;
}